<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar bg-primary">
  <a class="navbar-brand" href="#"> BeaK bus </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/booking">Book Ticket <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/print-ticket">Print Ticket</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/cancel-ticket">Cancel Ticket</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All 
              </a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/print-ticket">Print Ticket</a>
                  <a class="dropdown-item" routerLink="/cancel-ticket">Cancel Ticket</a>
              </div>
          </li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">



<div class="content">
</div>
    <footer id="myFooter">
        <div class="container">
            
        <p class="footer-copyright">© 2018 Copyright </p>
        </div>
        <div class="footer-social ">
            <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

